#education {
    
    .education-block {
    max-width:800px;
    margin:0 auto 30px;
    padding:15px;
    border:1px solid rgb(220,217,217);
    text-align:left;
    }

    .education-block h3 {
        float: left;
        margin: 0;
        font-size: 21px;
    }

    .education-block span {
        color: #74808a;
        float: right;
    }

    .education-block h4 {
        clear: both;
        margin: 5px 0px 15px;
        font-size: 18px;
        color: #74808a;
    }

    .education-block p {
        margin: 0;
        font-size: 16px;
    }

    @media only screen and (max-width: 768px){
.education-block h3, .education-block span {
    float: none;
}
}
}