#navbar {
	font-family: "Poppins", sans-serif;
}

.navbar-custom {
	z-index: 99;
	background-color: transparent;
	border: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	user-select: none;
	padding: 15px 0;
	.navbar-toggler {
		padding: 0px;
		border: none;
		outline: none;
		margin-bottom: 10px;
	}
	.navbar-toggler-icon {
		height: 38px;
		width: 38px;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
	.navbar-nav .nav-link:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #0062b9;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
}

.navbar-light .navbar-nav .nav-link {
	font-size: 13px;
	background-color: transparent;
	margin: 0 8px;
	padding: 0 8px 10px 8px;
	letter-spacing: 0.5px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	color: #fff;
	cursor: pointer;
	&:hover {
		color: #fff;
	}
}

.show .navbar-nav .nav-link {
	margin: 8px 4px;
	padding: 0;
	&::after {
		display: none;
	}
}

.navbar-custom .navbar-nav .nav-link:hover:after,
.navbar-custom .navbar-nav .nav-link.active:after {
	visibility: visible;
	transform: scaleX(1);
}

.nav-sticky {
	background-color: rgba(52, 59, 64, 0.9);
	-webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
	.navbar-custom {
		background-color: rgba(52, 59, 64, 0.9);
	}
}

@media (max-width: 768px) {
	.navbar-custom .container {
		width: 90%;
	}
}