@import '../../global.scss';
#certificates {
	.m-a {
		margin: 0 auto;
	}
	.grid-list {
		display: flex;
		flex-wrap: wrap;
		user-select: none;
		padding: 0;
		.item {
			display: block;
			padding: 1.2em;
			width: 33%;
			@media only screen and (max-width: 992px) {
				& {
					width: 50%;
				}
			}
			@media only screen and (max-width: 768px) {
				& {
					width: 100%;
				}
			}
			.title {
				display: flex;
				background-color: #2f2f2f;
				height: 100%;
				width: 100%;
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
				padding: 0 10%;
				align-items: center;
				text-align: center;
				color: silver;
                h2 {
                    font-size: 1.3em;
                }
			}
			&:hover {
				.title a {
					display: inline-flex;
					margin-top: 15px;
				}
			}
		}
		.screen {
			position: relative;
			display: block;
			z-index: 10;
			box-shadow: 8px 8px 10px rgb(0 0 0 / 20%);
		}
		.bar {
			display: block;
			position: relative;
			height: 24px;
			background-color: #ddd;
			width: 100%;
			color: #6a6a6a;
			z-index: 10;
			h3 {
				content: attr(data-text);
				text-align: center;
				font-size: 12px;
				font-weight: 900;
				line-height: 26px;
				color: #8a8a8a;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				font-weight: 700;
			}
			i,
			i:after,
			i:before {
				height: 12px;
				width: 12px;
				display: inline-block;
				background-color: #ff5f57;
				border-radius: 50%;
				position: absolute;
				top: 6px;
				left: 10px;
			}
			i:after {
				content: " ";
				left: 32px;
				background-color: #28ca41;
				top: 0;
			}
			i:before {
				content: " ";
				left: 16px;
				background-color: #ffbd2e;
				top: 0;
			}
		}
		.main {
			background-size: cover;
			padding-top: 58%;
			position: relative;
			background-position: center center;
			display: block;
			width: 100%;
			border-radius: 0;
		}
	}
	.box {
		position: relative;
	}
	.ribbon {
		width: 140px;
		height: 140px;
		overflow: hidden;
		position: absolute;
		span {
			position: absolute;
			display: block;
			width: 225px;
			padding: 15px 0;
			background-color: $theme;
			box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
			color: #fff;
			font: 600 18px/1 "Poppins", sans-serif;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;
			z-index: 20;
		}
	}
	.ribbon-top-right {
		top: -10px;
		right: -10px;
		span {
			left: -25px;
			top: 30px;
			transform: rotate(45deg);
		}
		&::before,
		&::after {
			border-top-color: transparent;
			border-right-color: transparent;
		}
		&::before {
			top: 0;
			left: 0;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
	}
	a.custom-button.is-rounded {
		margin: 0 auto;
		font-size: 18px;
		padding: 1.2rem;
		color: white;
		background-color: transparent;
		border-color: $theme;
		border-width: 2px;
		border-radius: 100px;
		&:hover {
			transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			background-color: $theme;
		}
	}
	.custom-button {
		-webkit-appearance: none;
		-webkit-box-align: center;
		align-items: center;
		border: 1px solid;
		box-shadow: none;
		display: none;
		height: 2.5em;
		line-height: 1.5;
		position: relative;
		vertical-align: top;
		user-select: none;
		text-decoration: none;
	}
}